/* header */

.search-hero {
    width: 800px;
}

.search-hero input{
    width: 90%;
}


/* main content */

.all-preview-content-hero {
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
}

.preview-content-hero {
    width: 95%;
}

/* file index - second parte */

.header-nav-img {
    width: 70px;
    height: 70px;
}

.header-nav-search {
    width: 800px;
}